<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
   
    <bean class="com.spring.app.Customer" name="custObj" >
     <constructor-arg>
      <value>12</value>
     </constructor-arg>
     
     <constructor-arg> <value>Abc</value></constructor-arg>
     <constructor-arg> <value>abc@example.com</value></constructor-arg>
     
      <constructor-arg>
       <value>122221112</value>
      </constructor-arg>
    </bean>
    
     <bean class="com.spring.app.MemberShip" name="member" >
     
     <constructor-arg>
      <value>12</value>
     </constructor-arg>
     
     <constructor-arg> <value> "Abc"</value></constructor-arg>
     <constructor-arg> <value>12</value></constructor-arg>
     
      <constructor-arg>
       <ref bean="custObj" />
      </constructor-arg>
    </bean>
    

</beans>